<div class="side-menu">
  <div class="menu-header">
    <img src="assets/logo.png" alt="Cosmos" class="logo-icon" />
    <span class="logo-text">Cosmos</span>
  </div>

  <mat-divider />

  <mat-nav-list>
    @for (item of navItems; track item.route) {
      <a
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
</div>
